.MMM-ping .label {
    padding-right: 50px;
    vertical-align: middle;
}

.MMM-ping .value {
    padding-right: 20px;
}

.MMM-ping .colored.green,
.MMM-ping-modal .colored.green {
    color: green;
}

.MMM-ping .colored.red,
.MMM-ping-modal .colored.red {
    color: red;
}
