<div class="list {{ config.font }}">
    {% for entry in status %}
        <div>
            <i class="fa fa-circle{% if not entry.online %}-o{% endif %} {% if config.colored %}colored {% endif %}{% if entry.online %}green{% else %}red{% endif %}"></i>
            {{ entry.label }}
        </div>
    {% endfor %}
</div>
